body {
            font-family: 'Noto Sans Ethiopic', sans-serif;
            background: #f3f3f3;
            margin: 50;
            padding:50;
            text-align: center;
        }
        header {
            background: #2b6cb0;
            color: white;
            padding: 20px;
        }

        #logo {
            margin-bottom: 15px;
        }

        #logo .logo-img {
            width: 260px;
            height: 260px;
            object-fit: cover;
            border-radius: 90%;
            display: inline-block;
        }
             
           ul{
    text-align: center;
    list-style:none;
    display: flex;
    gap: 25px;
   justify-content: center;
       }
a:hover{
     background-color:orangered;
       }  

        section {
            padding: 20px;
           
            margin: auto;
        }
        .card {
            background:rgb(218, 215, 225);
            padding: 20px;
            margin: 20px 0;
            border-radius: 10px;
            box-shadow: 0 0 10px #1d7bc2;
        }

        #resetBtn{
 align-items: center;
display: inline-block;
background-color: rgb(192, 135, 30);
border-radius: 15%;
margin: 60px;
}
#resetBtn:hover{
background-color: aqua;
}
#clearAll{
display: inline-block;
margin-left: 70px;
background-color:rgb(224, 79, 26);
border-radius: 15%;
margin: 60px;
}
#clearAll:hover{
                    background-color: aqua;
}
    